.productcard {
  position: relative;
  padding: 0.75rem;
  border-radius: 0.2rem;
  width: 100%;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  min-height: 350px !important;
}
.product_img_container img {
  object-fit: contain;
  width: 100%;
  height: 170px;
}
.shop_name {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #60a5fa;
  font-size: 15px;
}
.product_name h4 {
  padding-bottom: 0.75rem;
  font-weight: 500;
  font-size: 16px;
}
.rating {
  display: flex;
}
.price_discount_sold {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.product_discount_price {
  font-weight: 700;
  font-size: 18px;
  color: #333;
}
.product_price {
  padding-left: 0.75rem;
  text-decoration: line-through;
  font-size: 16px;
  color: #d55b45;
  margin-top: -4px;
}
.sold_item {
  font-size: 17px;
  color: #68d284;
}

.product_cart_icon .wishlist_icon {
       position: absolute; 
       right: 0.5rem; 
       top: 1.25rem; 
       cursor: pointer; 
       font-size: 22px;
}
.product_cart_icon .added_to_wishlist{
      color: red;
}
.product_cart_icon .eye_icon {
  position: absolute;
  right: 0.5rem;
  top: 3.5rem;
  cursor: pointer;
  font-size: 22px;
}
.product_cart_icon .cart_icon {
  position: absolute;
  color: black;
  right: 0.5rem;
  top: 6rem;
  cursor: pointer;
  font-size: 22px;
}
.product_img_container img {
  object-fit: contain;
  width: 100%;
  height: 170px;
}
.shop_name {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #60a5fa;
  font-size: 15px;
}
.product_name h4 {
  padding-bottom: 0.75rem;
  font-weight: 500;
  font-size: 16px;
}
.rating {
  display: flex;
}
.price_discount_sold {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.product_discount_price {
  font-weight: 700;
  font-size: 18px;
  color: #333;
}
.product_price {
  padding-left: 0.75rem;
  text-decoration: line-through;
  font-size: 16px;
  color: #d55b45;
  margin-top: -4px;
}
.sold_item {
  font-size: 17px;
  color: #68d284;
}

.product_cart_icon .wishlist_icon {
       position: absolute; 
       right: 0.5rem; 
       top: 1.25rem; 
       cursor: pointer; 
       font-size: 22px;
}
.product_cart_icon .added_to_wishlist{
      color: red;
}
.product_cart_icon .eye_icon {
  position: absolute;
  right: 0.5rem;
  top: 3.5rem;
  cursor: pointer;
  font-size: 22px;
}
.product_cart_icon .cart_icon {
  position: absolute;
  color: black;
  right: 0.5rem;
  top: 6rem;
  cursor: pointer;
  font-size: 22px;
}
.product_img_container img {
  object-fit: contain;
  width: 100%;
  height: 170px;
}
.shop_name {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #60a5fa;
  font-size: 15px;
}
.product_name h4 {
  padding-bottom: 0.75rem;
  font-weight: 500;
  font-size: 16px;
}
.rating {
  display: flex;
}
.price_discount_sold {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.product_discount_price {
  font-weight: 700;
  font-size: 18px;
  color: #333;
}
.product_price {
  padding-left: 0.75rem;
  text-decoration: line-through;
  font-size: 16px;
  color: #d55b45;
  margin-top: -4px;
}
.sold_item {
  font-size: 17px;
  color: #68d284;
}

.product_cart_icon .wishlist_icon {
       position: absolute; 
       right: 0.5rem; 
       top: 1.25rem; 
       cursor: pointer; 
       font-size: 22px;
}
.product_cart_icon .added_to_wishlist{
      color: red;
}
.product_cart_icon .eye_icon {
  position: absolute;
  right: 0.5rem;
  top: 3.5rem;
  cursor: pointer;
  font-size: 22px;
}
.product_cart_icon .cart_icon {
  position: absolute;
  color: black;
  right: 0.5rem;
  top: 6rem;
  cursor: pointer;
  font-size: 22px;
}
.product_img_container img {
  object-fit: contain;
  width: 100%;
  height: 170px;
}
.shop_name {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #60a5fa;
  font-size: 15px;
}
.product_name h4 {
  padding-bottom: 0.75rem;
  font-weight: 500;
  font-size: 16px;
}
.rating {
  display: flex;
}
.price_discount_sold {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.product_discount_price {
  font-weight: 700;
  font-size: 18px;
  color: #333;
}
.product_price {
  padding-left: 0.75rem;
  text-decoration: line-through;
  font-size: 16px;
  color: #d55b45;
  margin-top: -4px;
}
.sold_item {
  font-size: 17px;
  color: #68d284;
}

.product_cart_icon .wishlist_icon {
       position: absolute; 
       right: 0.5rem; 
       top: 1.25rem; 
       cursor: pointer; 
       font-size: 22px;
}
.product_cart_icon .added_to_wishlist{
      color: red;
}
.product_cart_icon .eye_icon {
  position: absolute;
  right: 0.5rem;
  top: 3.5rem;
  cursor: pointer;
  font-size: 22px;
}
.product_cart_icon .cart_icon {
  position: absolute;
  color: black;
  right: 0.5rem;
  top: 6rem;
  cursor: pointer;
  font-size: 22px;
}
.product_img_container img {
  object-fit: contain;
  width: 100%;
  height: 170px;
}
.shop_name {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #60a5fa;
  font-size: 15px;
}
.product_name h4 {
  padding-bottom: 0.75rem;
  font-weight: 500;
  font-size: 16px;
}
.rating {
  display: flex;
}
.price_discount_sold {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.product_discount_price {
  font-weight: 700;
  font-size: 18px;
  color: #333;
}
.product_price {
  padding-left: 0.75rem;
  text-decoration: line-through;
  font-size: 16px;
  color: #d55b45;
  margin-top: -4px;
}
.sold_item {
  font-size: 17px;
  color: #68d284;
}

.product_cart_icon .wishlist_icon {
       position: absolute; 
       right: 0.5rem; 
       top: 1.25rem; 
       cursor: pointer; 
       font-size: 22px;
}
.product_cart_icon .added_to_wishlist{
      color: red;
}
.product_cart_icon .eye_icon {
  position: absolute;
  right: 0.5rem;
  top: 3.5rem;
  cursor: pointer;
  font-size: 22px;
}
.product_cart_icon .cart_icon {
  position: absolute;
  color: black;
  right: 0.5rem;
  top: 6rem;
  cursor: pointer;
  font-size: 22px;
}
.product_img_container img {
  object-fit: contain;
  width: 100%;
  height: 170px;
}
.shop_name {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #60a5fa;
  font-size: 15px;
}
.product_name h4 {
  padding-bottom: 0.75rem;
  font-weight: 500;
  font-size: 16px;
}
.rating {
  display: flex;
}
.price_discount_sold {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.product_discount_price {
  font-weight: 700;
  font-size: 18px;
  color: #333;
}
.product_price {
  padding-left: 0.75rem;
  text-decoration: line-through;
  font-size: 16px;
  color: #d55b45;
  margin-top: -4px;
}
.sold_item {
  font-size: 17px;
  color: #68d284;
}

.product_cart_icon .wishlist_icon {
       position: absolute; 
       right: 0.5rem; 
       top: 1.25rem; 
       cursor: pointer; 
       font-size: 22px;
}
.product_cart_icon .added_to_wishlist{
      color: red;
}
.product_cart_icon .eye_icon {
  position: absolute;
  right: 0.5rem;
  top: 3.5rem;
  cursor: pointer;
  font-size: 22px;
}
.product_cart_icon .cart_icon {
  position: absolute;
  color: black;
  right: 0.5rem;
  top: 6rem;
  cursor: pointer;
  font-size: 22px;
}
.product_img_container img {
  object-fit: contain;
  width: 100%;
  height: 170px;
}
.shop_name {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #60a5fa;
  font-size: 15px;
}
.product_name h4 {
  padding-bottom: 0.75rem;
  font-weight: 500;
  font-size: 16px;
}
.rating {
  display: flex;
}
.price_discount_sold {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.product_discount_price {
  font-weight: 700;
  font-size: 18px;
  color: #333;
}
.product_price {
  padding-left: 0.75rem;
  text-decoration: line-through;
  font-size: 16px;
  color: #d55b45;
  margin-top: -4px;
}
.sold_item {
  font-size: 17px;
  color: #68d284;
}

.product_cart_icon .wishlist_icon {
       position: absolute; 
       right: 0.5rem; 
       top: 1.25rem; 
       cursor: pointer; 
       font-size: 22px;
}
.product_cart_icon .added_to_wishlist{
      color: red;
}
.product_cart_icon .eye_icon {
  position: absolute;
  right: 0.5rem;
  top: 3.5rem;
  cursor: pointer;
  font-size: 22px;
}
.product_cart_icon .cart_icon {
  position: absolute;
  color: black;
  right: 0.5rem;
  top: 6rem;
  cursor: pointer;
  font-size: 22px;
}
.product_img_container img {
  object-fit: contain;
  width: 100%;
  height: 170px;
}
.shop_name {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #60a5fa;
  font-size: 15px;
}
.product_name h4 {
  padding-bottom: 0.75rem;
  font-weight: 500;
  font-size: 16px;
}
.rating {
  display: flex;
}
.price_discount_sold {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.product_discount_price {
  font-weight: 700;
  font-size: 18px;
  color: #333;
}
.product_price {
  padding-left: 0.75rem;
  text-decoration: line-through;
  font-size: 16px;
  color: #d55b45;
  margin-top: -4px;
}
.sold_item {
  font-size: 17px;
  color: #68d284;
}

.product_cart_icon .wishlist_icon {
       position: absolute; 
       right: 0.5rem; 
       top: 1.25rem; 
       cursor: pointer; 
       font-size: 22px;
}
.product_cart_icon .added_to_wishlist{
      color: red;
}
.product_cart_icon .eye_icon {
  position: absolute;
  right: 0.5rem;
  top: 3.5rem;
  cursor: pointer;
  font-size: 22px;
}
.product_cart_icon .cart_icon {
  position: absolute;
  color: black;
  right: 0.5rem;
  top: 6rem;
  cursor: pointer;
  font-size: 22px;
}
.product_img_container img {
  object-fit: contain;
  width: 100%;
  height: 170px;
}
.shop_name {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #60a5fa;
  font-size: 15px;
}
.product_name h4 {
  padding-bottom: 0.75rem;
  font-weight: 500;
  font-size: 16px;
}
.rating {
  display: flex;
}
.price_discount_sold {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.product_discount_price {
  font-weight: 700;
  font-size: 18px;
  color: #333;
}
.product_price {
  padding-left: 0.75rem;
  text-decoration: line-through;
  font-size: 16px;
  color: #d55b45;
  margin-top: -4px;
}
.sold_item {
  font-size: 17px;
  color: #68d284;
}

.product_cart_icon .wishlist_icon {
       position: absolute; 
       right: 0.5rem; 
       top: 1.25rem; 
       cursor: pointer; 
       font-size: 22px;
}
.product_cart_icon .added_to_wishlist{
      color: red;
}
.product_cart_icon .eye_icon {
  position: absolute;
  right: 0.5rem;
  top: 3.5rem;
  cursor: pointer;
  font-size: 26px;
  background-color:#7D12FF;
  border-radius: 50%;
  border: 1px solid red;
  padding: .3rem .3rem;
  color: white;
}
.product_cart_icon .cart_icon {
  position: absolute;
  background-color:#7D12FF;
  right: 0.5rem;
  top: 6rem;
  cursor: pointer;
  font-size: 26px;
  border-radius: 50%;
  padding: .3rem .3rem;
  color: white;
}

.product_img_container img {
  object-fit: contain;
  width: 100%;
  height: 170px;
}
.shop_name {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #60a5fa;
  font-size: 15px;
}
.product_name h4 {
  padding-bottom: 0.75rem;
  font-weight: 500;
  font-size: 16px;
}
.rating {
  display: flex;
}
.price_discount_sold {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.product_discount_price {
  font-weight: 700;
  font-size: 18px;
  color: #333;
}
.product_price {
  padding-left: 0.75rem;
  text-decoration: line-through !important;
  font-size: 16px;
  color: #d55b45;
  margin-top: -4px;
}
.sold_item {
  font-size: 17px;
  color: #68d284;
}

.product_cart_icon .wishlist_icon {
       position: absolute; 
       right: 0.5rem; 
       top: 1.25rem; 
       cursor: pointer; 
       font-size: 22px;
}
.product_cart_icon .added_to_wishlist{
      color: red;
}
.product_cart_icon .eye_icon {
  position: absolute !important;
  right: 0.5rem;
  top: 8.3rem;
  cursor: pointer;
  font-size: 22px;
}
.product_cart_icon .cart_icon {
  position: absolute !important;
  right: 0.5rem;
  top: 11rem;
  cursor: pointer;
  font-size: 22px;
}
.add_to_cart_btn button{
     /* border: 1px solid black; */
     width: 100%;
     text-align: center;
     padding: .2rem .3rem;
     background-color: rgb(70, 70, 141);
     color: white;
}

.cart_menu .quantity{
  margin-top: 0.5rem;
  font-size: .9rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.increment_remove{
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: .1rem;
  padding-right: 1rem;
  justify-content: center;
  margin-bottom: .1rem;
}

.wrapper{
height: 40px;
min-width: 100px;
display: flex;
align-items: center;
justify-content: center;
background: #FFF;
border-radius: 6px;
border: 1px solid rgba(0, 0, 0, 0.2);
}
.wrapper span{
width: 100%;
text-align: center;
font-size: 25px;
font-weight: 600;
cursor: pointer;
user-select: none;
}
.wrapper span.num{
font-size: 18px;
border-right: 2px solid rgba(0,0,0,0.2);
border-left: 2px solid rgba(0,0,0,0.2);
pointer-events: none;
}
.btn-view{
     border: 1px solid rgba(0, 0, 0, 0.4) !important;
     width: 100%;
     margin-top: .2rem;
}
.btn-view .bx-show-alt{
     font-size: 25px;
     margin-bottom: 0;
     color: rgba(0, 0, 0, 0.6);
}