.product_card {
  overflow: hidden;
  position: relative;
  margin: 2.5rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 18rem;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.image {
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  height: 300px;
}
.title_wrapper {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
  margin-top: 1rem;
}
.title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: black;
  letter-spacing: -0.025em;
}
.rating_stock_wrapper{
     display: flex;
     justify-content: space-between;
}
.rating_wrapper {
  display: flex;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  align-items: center;
}
.rating {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  background-color: #fde68a;
}
.stock_wrapper{
     margin-bottom: 0;
}
.in_stock{
    font-size: 15px;
    color: rgb(40, 182, 40);
}
.out_of_stock{
     font-size: 15px;
     color: red;
}
.few_in_stock{
  font-size: 12px;
  color: red;
}
.price_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.discountPrice {
  font-size: 1rem !important;
  line-height: 2.25rem;
  font-weight: 700;
}
.originalPrice {
  font-size: 0.675rem !important;
  line-height: 1.25rem;
  text-decoration: line-through !important;
  color: red;
  margin-left: .3rem;
  margin-right: .2rem;
}
.add_to_cart_btn {
  display: flex;
  border: 1px solid black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: .5rem;
  padding-right: .7rem;
  align-items: center;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: black;
}

.increment_remove{
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: .1rem;
  padding-right: 1rem;
  justify-content: center;
  margin-bottom: .1rem;
}
.wrapper{
  height: 40px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  }
 .wrapper span{
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  }
.num{
  font-size: 16px;
  border-right: 2px solid rgba(0,0,0,0.2);
  border-left: 2px solid rgba(0,0,0,0.2);
  pointer-events: none;
  }