/* .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.table_wrapper {
     padding-left: .3rem;
     padding-right: .3rem;
     overflow-x: auto;
}

.inputbox {
     border: 1px solid rgba(0, 0, 0, 0.3);
     width: 60%;
     padding: .3rem .4rem;
     margin: auto;
     margin-top: 2.5rem;
     margin-bottom: 1.5rem;
}

.inputbox input {
     width: 100%;
     border: none;
     outline: none;
}

.role_wrappere {
     border: 1px solid rgb(157, 228, 157);
     background: #ffff;
     color: green;
     padding: 0 .2rem;
     border-radius: .2rem;
     font-size: 12px;
}
.user_wrappere{
     border: 1px solid rgb(164, 164, 241);
     background: #ffff;
     color: rgb(160, 160, 236);
     padding: 0 .2rem;
     border-radius: .2rem;
     font-size: 12px;
}