.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    overflow-y: scroll;
    padding-left: .2rem;
    padding-right: .2rem;
}
.custome_table{
    width: 100% !important;
    overflow-x: scroll !important;

}
.inputbox{
     border: 1px solid rgba(0, 0, 0, 0.3);
     width: 60%;
     padding: .3rem .4rem;
}
.inputbox input{
     width: 100%;
     border: none;
     outline: none;
}