@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.error {
  color: red;
  font-size: 13px;
}

.camera_icon {
  font-size: 18px;
}

.main_wrapper {
  margin-top: 70px;
}

.left-72 {
  left: -18rem;
}

.left-0 {
  left: 0;
}

.toggle {
  top: -0.3rem;
  right: -5rem;
  padding: 0.75rem;
}

.not_toggle .bx-menu {
  font-size: 2em !important;
  color: white;
}

.toggle .bx-menu {
  font-size: 2em !important;
  font-weight: bold
}

.show {
  font-size: 1.5em;
  color: rgb(23, 114, 219);
  margin-right: .2rem;
}
.edit {
  font-size: 1.5em;
  color: green;
}
.delete {
  font-size: 1.5em;
  color: red;
}

.carousel-item {
  /* max-height: 100vh !important; */
  height: 80vh !important;

}

.carousel-item img {
  height: 100% !important;
}

.modify-caption{
  text-align: left !important;
  top: 10% !important;
  bottom: auto;
  transform: translateY(0%);
}