@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

a {
  text-decoration: none;
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.error {
  color: red;
  font-size: 13px;
}

.camera_icon {
  font-size: 18px;
}

.main_wrapper {
  margin-top: 70px;
}

.left-72 {
  left: -18rem;
}

.left-0 {
  left: 0;
}

.toggle {
  top: -0.3rem;
  right: -5rem;
  padding: 0.75rem;
}

.not_toggle .bx-menu {
  font-size: 2em !important;
  color: white;
}

.toggle .bx-menu {
  font-size: 2em !important;
  font-weight: bold;
}

.show {
  font-size: 1.8em;
  color: rgb(23, 114, 219);
  margin-right: 0.2rem;
}

.edit {
  font-size: 1.5em;
  color: green;
}

.delete {
  font-size: 1.5em;
  color: red;
}

.carousel-item {
  /* max-height: 100vh !important; */
  height: 80vh !important;
}

.carousel-item img {
  height: 100% !important;
}

.modify-caption {
  text-align: left !important;
  top: 10% !important;
  bottom: auto;
  transform: translateY(0%);
}

.cd-popup {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  transform: translateY(-40px);
  transition-property: transform;
  transition-duration: 0.3s;
}

.is-visible .cd-popup-container {
  transform: translateY(0);
}
.order_status {
  background: #ffff;
  padding: 0 0.2rem;
  border-radius: 0.2rem;
  font-size: 12px;
}
.o_pending {
  color: hsl(41, 97%, 49%);
  border: 1px solid hsl(36, 89%, 42%);
}
.o_delivered {
  border: 1px solid rgb(108, 190, 108);
  color: green;
}
.o_processing {
  border: 1px solid rgb(35, 171, 224);
  color: rgb(23, 133, 177);
}
.o_shipped {
  border: 1px solid rgb(164, 164, 241);
  background: #ffff;
  color: rgb(160, 160, 236);
  padding: 0 .2rem;
  border-radius: .2rem;
  font-size: 12px;
}
.o_cancelled {
  border: 1px solid red;
  background: #ffff;
  color:rgb(212, 47, 47);
  padding: 0 .2rem;
  border-radius: .2rem;
  font-size: 12px;
}
.supplier_order_update_btn{
     border: 1px solid black;
     padding: .1rem .6rem;
     background-color: black;
     color: white;
     font-weight: bold;
}