.plus-minus {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.plus-minus:hover {
    --tw-brightness: brightness(1.5);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.count_wrapper {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    width: 100%;
    height: 2.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    background-color: rgb(224, 221, 221);
}

.origialprice{
    width: fit-content;
    text-decoration: line-through !important;
    text-decoration-thickness: 1px;
    color: red;
}

.add-to-cart-btn {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    width: 100%;
    height: 2.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    user-select: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: black;
    color: white;
}
.primary_image{
      border: 6px solid rgb(84, 233, 84);
}

@media (min-width: 640px) {
    .count_wrapper {
        width: 20rem;
    }
}