.product-detail {
    padding: 20px;
}
.product-name {
    font-size: 16px;
    font-weight: bold;
}
.status-active {
    color: green;
    font-weight: bold;
}
.inventory {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.inventory span {
    font-weight: bold;
}

.section {
    padding: 20px 0;
    position: relative;
}
.gray-bg {
    background-color: #f5f5f5;
}
.sticky-header {
    padding: 24px;
    text-align: center;
    z-index: 10000;
  }
  
  .is-sticky {
    position: sticky;
    top: 0;
    -webkit-animation: fadeInDown .5s ease-in-out 0s 1 normal none running;
    animation: fadeInDown .5s ease-in-out 0s 1 normal none running;
    background-color: #fff !important;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, .15);
    left: 0;
  }
  
  .title {
    color: #212121;
    font-size: 16px;
    font-weight: 400;
  }
  .bg-black{
      background-color: black !important;
      color: white !important;
  }
  .theme-btn-one {
    border-radius: 0;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .about-list{
    padding-top: 10px;
  }
  .about-list label{
    display: inline;
    font-weight: 600;
    margin: 0;
    position: relative;
  }
  .about-list p {
    display: inline;
    font-size: 15px;
    margin: 10px;
    font-weight: 400;
    line-height: 24px;
}
.table-wrapper {
    height: 80%;
    overflow: auto;
    scroll-behavior: smooth;
    width: 100%;
}
.table-responsive table thead {
    background: rgb(43, 182, 43);
}
.table-wrapper th:first-child, .table-wrapper th:last-child {
  background: rgb(43, 182, 43);
    z-index: 2;
}
.table-wrapper th {
    border: 1px solid #d3c2c2;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-weight: 400;
    
}
.table-wrapper th,.table-wrapper td{
    border: 1px solid #d3c2c2;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}