/* .section {
    width: 91.66667%;
    margin: auto;
  } */
  .product_container {
    display: grid;
    margin-bottom: 3rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .product_not_found {
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
    font-size: 20px;
  }
  @media screen and (max-width:800px){
    .section {
        margin-top: 2rem;
    }
  }
  
  @media (min-width: 556px) {
      .product_container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1rem;
      }
    }
  @media screen and (min-width: 768px) {
    .product_container {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 1rem;
    }
  }
  @media screen and (min-width: 1024px) {
    .product_container {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 1rem;
    }
  }
  @media screen and (min-width: 1280px) {
    .product_container {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 1rem;
    }
  }
  