.navbar {
    background-color: rgb(70, 70, 141);
}

.navbar .nav-link {
    color: white !important;
    /* font-weight: bold; */
}

.navbar-brand {
    color: white !important;
    font-size: 24px !important;
    font-weight: bold;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
.nav_img{
       width: 40px;
       height: 40px;
       object-fit: contain;
       border-radius: 100%;
}
.welcome{
       color: red;
       text-decoration: dashed;
}
.collapse{
    visibility: visible !important;
}
.cart{
      position: relative;
}
.cartIcon{
       font-size: 23px;
       color: rgb(207, 53, 53);
}
.cart_count{
       position: absolute;
       top: -.5rem;
       left: 1.3rem;
       border: 1px solid rgb(211, 121, 121);
       padding: .0rem .4rem;
       background-color: rgb(218, 88, 88);
       color: white;
       border-radius: 50%;
       font-weight: bold;
}