img {
  display: block;
  object-fit: cover;
  width: 100%;
}
:root {
  --color-primary: #6f6af8;
  --color-white: #ffff;
  --color-red: rgb(255, 63, 63);
  --color-grey-100: hsl(220, 20%, 10%, 5%);
  --color-grey-200: hsl(220, 20%, 10%, 10%);
  --color-grey-300: hsl(220, 20%, 10%, 25%);
  --color-grey-500: hsl(220, 20%, 10%, 50%);
  --color-grey-700: #252542;
  --color-grey-900: #0c0c22;

  --color-bg: hwb(240 95% 0%);
  --transition: all 300ms ease;

  --container-width-lg: 84%;
  --container-width-md: 92%;
  --form-width: 50%;

  --radius-1: 0.3rem;
  --radius-2: 0.6rem;
  --radius-3: 1rem;
  --radius-4: 2rem;
}
a {
  color: var(--color-grey-700);
  text-decoration: none;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--color-grey-900);
  line-height: 1.1;
}
.h1 {
  font-size: 2.2rem;
}
.h2 {
  font-size: 1.9rem;
}
.h3 {
  font-size: 1.3rem;
  line-height: 1.25;
}
.h4 {
  font-size: 1.1rem;
}
.h5 {
  line-height: 1.4;
}
.section {
  padding-top: 6rem;
  background-color: var(--color-bg);
  min-height: calc(100vh - 70px - 40px);
}
.containerr {
  width: var(--container-width-lg);
  margin-inline: auto;
}
.btn {
  display: inline-block;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-2);
  background: var(--color-white);
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
}
.btn .primary {
  background: var(--color-primary);
  color: var(--color-white);
}
.btn .category {
  background: var(--color-bg);
  color: var(--color-primary);
  font-size: 0.75rem;
  font-weight: 400;
}
.btn.sm {
  font-size: 0.8rem;
  padding: 0.3rem 0.7rem;
  font-weight: 400;
}
.btn.danger {
  background: var(--color-red);
  color: var(--color-white);
}
.btn:hover {
  background: var(--color-grey-900);
  color: var(--color-white);
}

.input {
  background-color: white !important;
  width: 100% !important;
  padding: 0.3rem 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* border: 1px solid black !important; */
}
.input:focus {
  outline: none;
}
.heading {
  text-align: center !important;
  font-weight: bold;
}
.image_input {
  display: none;
}
.image_title {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.3rem 0.2rem;
  text-align: center;
  background: rgb(95, 95, 214);
  color: var(--color-white);
}
.submit_btn {
  background-color: rgb(52, 172, 52);
  width: 100% !important;
  padding: 0.3rem 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: bold;
  margin-bottom: 1rem;
}
.submit_btn:focus {
  outline: none;
}
.primary_image {
  border: 6px solid rgb(62, 197, 62);
}
.create_unit_btn button {
  /* border: 1px solid black; */
  background-color: black !important;
  color: white;
  font-size: 14px;
  /* padding: 0 .6rem */
}
.add_unit_container{
        /* border:  ; */
}

@media (max-width: 578px) {
  .create_unit_btn {
    margin-top: 0.5rem !important;
  }
}
